{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %} 
{% csrf_token %}
    <div id="#app" class="center-align">
        <br>
        <br>
        <br>
        <br>
        <br>
            <form action='' method="POST">
                <input  type="text" id ="search_criteria" class="center-align white" placeholder="Who are you looking for?">
                <input type="submit" value="submit" class="center-align">
            </form>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}

