{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %} 
{% csrf_token %}
    <div id="app1" class="center-align">
        <br>
        <br>
        <br>
        <br>
        <br>
            <div>
                <input v-model="searchCriteria" type="text" id ="search_criteria" class="center-align white" placeholder="Who are you looking for?">
                <button v-on:click="search" class="center-align white">Search</button>
            </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
            <table class="highlight white black-text">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Date Last Contact</th>
                        <th>Page</th>
                    </tr>
                </thead>

                <tbody v-if="searchResults" v-for="searchResult in searchResults">
                    <tr>
                        <td><img style="width: 50px;" :src="searchResult.photo"></td>
                        <td>[[searchResult.First_Name]]</td>
                        <td>[[searchResult.Last_Name]]</td>
                        <td>[[searchResult.Age]]</td>
                        <td>[[searchResult.date_last_contact]]</td>
                        <td><a v-on:click="bulletin(searchResult.id)" class="btn blue">
                                <span>Bulletin Page</span>
                                <i class="small material-icons right">developer_board</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
{% comment %} Axios CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% comment %} Vue CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% comment %} vue search.js files  {% endcomment %}
<script  src="{% static 'home.js' %}"></script>
{% endblock %}

