{%extends 'base.html'%}
{% load static %}
{%block content%}
    <div id="app" class="container">
        <div class="center-align">
            <img style="width: 30em;" :src="person.photo">
        </div>
        <h1 class="center-align">[[person.First_Name]] [[person.Last_Name]]</h1>

        <div>
            <div class="column cyan accent-1 black-text">
                <ul>
                    <li>Age:  [[person.Age]]</li>
                    <li>Date Last Contact: [[person.date_last_contact]]</li>
                    <li>Eye Color: [[person.eyecolor.color]]</li>
                    <li>Hair Color:  [[person.haircolor]]</li>
                    <li>Height:  [[person.height_ft]] feet [[person.height_in]] inches</li>
                    <li>Weight:  [[person.weight]]</li>
                    <li>Race:  [[person.race.race]]</li>
                    <li>Unique Markings: [[person.unique_markings]]</li>
                    <li>Sex:  [[person.sex]]</li>
                </ul>
            </div>
        </div>
        <div class="white black-text">
            <h5 class="center-align">Description of Disappearance</h3>
            [[person.description_of_disappearance]]
        </div>
        <br>
        <div class="center-align" id="mapsdiv" v-html="mapdiv"></div>
        <br>
    </div>
        {% comment %}  {% endcomment %}
    <div id="comments">
        <div id="todo-list-example">
        <form v-on:submit.prevent="addNewComment({{request.user}})">
            <label for="new-comment">Add a comment</label>
            <input
            v-model="newCommentText"
            id="new-comment"
            placeholder="E.g. I found a clue"
            >
            <button>Add</button>
        </form>

        {% comment %} Comment List {% endcomment %}
        <li class="container" 
            {% comment %} is="comment"  {% endcomment %}
            v-for:"(comment, index) in comments" 
            v-bind:key="comment.id"
            v-bind:text="comment.text"
            v-on:remove="comments.splice(index, 1)">
            <p class="container">
                [[comment]] <br>
                {% comment %} <button v-on:click="$emit(\'remove\')">Remove</button>\ {% endcomment %}
            </p>
        </li>
    </div>
    


    {% comment %} Axios CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% comment %} Vue CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% comment %} vue index.js files  {% endcomment %}
    <script  src="{% static 'secrets.js' %}"></script>
    <script  src="{% static 'index.js' %}"></script>
{%endblock%}