{%extends 'base.html'%}
{% load static %}
{%block content%}
    <div id="app" class="container">
        <div class="center-align">
            <img style="width: 30em;" :src="person.photo">
        </div>
        <h1 class="center-align">[[person.First_Name]] [[person.Last_Name]]</h1>

        <div>
            <div v-if="person" class="column cyan accent-1 black-text">
                <ul>
                    <li>Age:  [[person.Age]]</li>
                    <li>Date Last Contact: [[person.date_last_contact]]</li>
                    <li>Eye Color: [[person.eyecolor.color]]</li>
                    <li>Hair Color:  [[person.haircolor]]</li>
                    <li>Height:  [[person.height_ft]] feet [[person.height_in]] inches</li>
                    <li>Weight:  [[person.weight]]</li>
                    <li>Race:  [[person.race.race]]</li>
                    <li>Unique Markings: [[person.unique_markings]]</li>
                    <li>Sex:  [[person.sex]]</li>
                </ul>
            </div>
        </div>

        <div>
            <h5 class="center-align">Description of Disappearance</h3>
            [[person.description_of_disappearance]]
        </div>
        <br>
        <div class="center-align" id="mapsdiv" v-html="mapdiv"></div>
        <br>
    </div>


    {% comment %} COMMENT SECTION {% endcomment %}
    <div id="comments">
    {% comment %} Adding Comments {% endcomment %}
        <form v-on:submit.prevent="addNewComment({{user.id}})" >
            <label for="new-comment">Add a comment</label>
            <input
            v-model="newCommentText"
            id="new-comment"
            placeholder="E.g. I found a clue" 
            v-on:keyup.enter="submit"
            >
            <button>Add Comment</button>
        </form>

         <ul id="v-for-object">
            <li class="container" 
                v-for="(comment, index) in comments" 
                v-bind:key="comment.id"
                v-bind:text="comment.content"
                v-bind:username="comment.username"> 
                <p class="container" class="white black-text">
                    [[comment.username.username]] said: <br>[[comment.content]] <br>
                    <p class="right-align">
                    [[comment.date_published]]
                    <span v-if="comment.username.id == {{user.id}}">
                        <a v-on:click="deleteComment(index,comment.id)" class="btn-floating red right-align">
                            <i class="material-icons">delete</i>
                        </a>
                        <a v-on:click="editComment(index,comment.id)" class="btn-floating orange">
                            <i class="material-icons">edit</i>
                        </a>
                    </p>
                        <div style="display:none" :id="formcontainer(index)">
                            <input v-model="comment.content" type="text"/><br>
                            <button v-on:click="submitedit(index, comment.id)">Submit Edit</button>
                        </div>
                    </span>
                    <hr>
                </p>
            </li> 
        </ul>
    </div>
    


    {% comment %} Axios CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% comment %} Vue CDN {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% comment %} vue index.js files  {% endcomment %}
    <script  src="{% static 'secrets.js' %}"></script>
    <script  src="{% static 'index.js' %}"></script>
{%endblock%}