<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% comment %} Materialize {% endcomment %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body class="teal white-text">

            {% if user.is_authenticated %} 
                <nav class="nav-wrapper indigo">
                    <div class="container">
                        <a href="#" class="brand-logo">Cerebro</a>
                        <a href="#" class="sidenav-trigger" data-target="mobile-links">
                            <i class="material-icons">menu</i>
                        </a>
                            <ul class="right hide-on-med-and-down">
                                <li><a href="{% url 'missing_persons:home' %}">Home</a></li>
                                <li><a href="{% url 'accounts:user_logout' %}">Logout</a></li>
                            </ul>
                    </div>
                </nav>
                <ul class="sidenav" id="mobile-links">
                    <li><a href="{% url 'missing_persons:home' %}">Home</a></li>
                    <li><a href="{% url 'accounts:user_logout' %}">Logout</a></li>
                </ul>
                {% comment %} <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                    <div class="background">
                        <img src="images/office.jpg">
                    </div>
                    <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                    <a href="#name"><span class="white-text name">John Doe</span></a>
                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div></li>
                    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                    <li><a href="#!">Second Link</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">Subheader</a></li>
                    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> {% endcomment %}
                
            {% endif %}
        <div class="container teal white-text">
            {% block content %}
            {% endblock %}       
        </div> 
        {% comment %} Vue CDN {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        {% comment %} jQuery for JavaScript {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% comment %} Compiled and minified JavaScript {% endcomment %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
            $('.sidenav').sidenav();
            });
        </script>
    </body>
</html>